<div class="grid-container">
  <h1 class="mat-h1">Algorithms</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" routerLink="/main/{{card.id}}">
        <mat-card-header>
          <mat-card-title>
            Id: {{card.id}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-div">
            <p class="desc">{{card.desc}}</p>
            <div *ngFor="let key of objectKeys(card.stats)" class="stat-div" [ngStyle]="{'width': 100/3 + '%'}">
              <h2>{{capitalize(key)}}</h2>
              <h1 class="stat">{{round(card.stats[key])}}</h1>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>